@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: Open Sans, Arial, sans-serif;
}

#emails {
    position: fixed;
    left: 0%;
    height: 100%;
    top: 0%;
    border-right: 2px solid black;
    width: 33%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.emailPreview span {
    padding: 10px;
}

.emailPreview {
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .1s;
    padding-top: 5px;
    color: #ffffff;
    background-color: #217892; /* Set background color */
    /* background-image: url('your-image-url.jpg'); Set background image */

}

.emailPreview:hover {
    background: lightgrey;
    transition-duration: .1s;
}

.emailPreview span {
    max-height: 20px;
    overflow-y: hidden;
}

.content {
    display: inline-block;
}

.emailView {
    width: calc(50% - 20px);
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: calc(100% - 2*20px);
    color: #315718;
    font-weight: bold; /* Make text bold */
    font-size: 16px; /* Set the font size to 16 pixels */

}

.emailCompose {
    width: calc(50% - 20px);
    border-radius: 10px;
    height: calc(100% - 2*20px - 30px - 10px); /* Accounts for height and margin of send button */
    position: absolute;
    top: 10px;
    right: 10px; 
    background-color: #9BBFF4;
    border: 1px solid black;
    font-family: Open Sans, Arial, sans-serif;
    resize: none;
    padding: 5px;
}

.emailCompose:focus {
    outline: none;
}
.emailCompose:disabled {
    filter: blur(1px);
}

.emailWindow {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 65%;
	height: 100%;
	background-color: #A7CDF2;
	padding: 10px;
	border: 1px solid black;
	border-radius: 15px;
    p {
        color: red;
    }
}

.close {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	border: none;
	background: lightgrey;
	cursor: pointer;
	font-size: 1.2em;
	transition-duration: .1s;
}

.close:hover {
    background: grey;
    transition-duration: .1s;
}

.send {
    position: absolute;
    right: 10px;
    bottom: 30px;
    height: 30px;
    width: calc(50% - 20px);
    background: #6eaa69;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition-duration: 0.5s;
}

.send:hover {
    background: #5d8d59;
    transition-duration: 0.5s;
}

.overlay {
	position: absolute;
	right: 10%;
	height: 50px;
	width: calc(30% - 20px);
	background: #6eaa69;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	transition-duration: 0.5s;
}

.overlay.short {
    top: calc((100% - 2*20px - 30px - 10px) * 0.2);
}
.overlay.long {
    top: calc((100% - 2*20px - 30px - 10px) * 0.4);
}
.overlay.followup {
    top: calc((100% - 2*20px - 30px - 10px) * 0.6);
}
.overlay.writeOwn {
    top: calc((100% - 2*20px - 30px - 10px) * 0.8);
}